certifi==2017.11.5
chardet==3.0.4
Django==1.11.23
django-cacheops==4.0.3
django-extensions==1.9.7
django-redis==4.8.0
django-redis-cache==1.7.1
djangorestframework==3.7.3
funcy==1.10
hiredis==0.2.0
idna==2.6
praw==5.2.0
prawcore==0.12.0
pytz==2017.3
redis==2.10.6
requests==2.18.4
six==1.11.0
typing==3.6.2
update-checker==0.16
urllib3==1.22
